<div class="internal-header pt-medium pb-small" [class.fixed]="fixed">
  <div class="row">
      <div class="col-1-6">
        <div class="internal-header__logo-element">
            <h1 class="heading-logo" (click)="onGoToHome()">
              <span class="heading-logo--main">Star Wars (Pedia)</span>
              <span class="heading-logo--subtitle"
                >Everything about Star Wars franchise</span
              >
            </h1>
        </div>
      </div>
    <div class="col-3-6">
      <div class="internal-header__form-element">
        <div class="internal-header__form-element--main-box">
          <label for="search-box">Search again...</label>
          <input type="text" id="search-box" />
          <i class="icon-basic-magnifier"></i>
        </div>
      </div>
    </div>
  </div>
</div>
