/*================================
COLORS
================================*/
$color-grey: #e7e7e7;
$color-grey-light: #f3f3f3;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-primary: #fee71f;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #c43d49;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #5186b4;
$color-tertiary-light: lighten($color-tertiary, 10%);
$color-tertiary-dark: darken($color-tertiary, 10%);

/*================================
BOX SIZES
================================*/
$size-small: 1rem;
$size-medium: 3rem;
$size-big: 5rem;
