.main-section {
    height: calc(100vh - 10rem + 2px); // 10rem + 2px is the height size of header + footer.

    &__search-element {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__form-element {
        &--main-box {
            position: relative;
            color: $color-grey-dark;
            letter-spacing: .2rem;

            i {
                @extend .default-input-icon;
            }

            input {
                @extend .default-input;
            }
        }

        &--buttons-box { }
    }
}
