/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/*================================
RESET BOOTSTRAP
================================*/
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus, .btn-secondary:focus, .btn-secondary.focus, .btn:focus {
    box-shadow: none;
}

button:focus {
    outline: none;
}


/*================================
STAR WARS PEDIA STYLES
================================*/

@import 'abstracts/abstracts-dir';
@import 'base/base-dir';
@import 'components/components-dir';
@import 'layout/layout-dir';
@import 'pages/pages-dir';
