<header class="main-header">
  <div class="main-menu">
    <a href="#" class="main-menu__link">View Swapi Documentation<i class="main-menu__icon icon-basic-folder-multiple"></i></a>
    <a href="#" class="main-menu__link">View Developer Profile<i class="main-menu__icon icon-basic-info"></i></a>
  </div>
</header>

<section class="main-section">
  <div class="main-section__search-element text-centered">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Star Wars (Pedia)</span>
      <span class="heading-primary--subtitle">Everything about Star Wars franchise</span>
    </h1>
    <div class="main-section__form-element mt-medium">
      <div class="main-section__form-element--main-box">
        <input type="text" />
        <i class="icon-basic-magnifier"></i>
      </div>
      <div class="main-section__form-element--buttons-box mt-medium">
        <a href="#" class="btn btn-secondary">Search</a>
        <a href="#" class="btn btn-tertiary">May the Force be with be</a>
      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="main-links">
    <a href="#" class="main-links__fork-us">Fork us on GitHub<i class="main-links__icon icon-basic-life-buoy"></i></a>
  </div>
</footer>
