<section class="main-section">
  <div class="main-section__search-element text-centered">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Star Wars (Pedia)</span>
      <span class="heading-primary--subtitle"
        >Everything about Star Wars franchise</span
      >
    </h1>
    <div class="main-section__form-element mt-medium">
      <div class="main-section__form-element--main-box">
        <input type="text" />
        <i class="icon-basic-magnifier"></i>
      </div>
      <div class="main-section__form-element--buttons-box mt-medium">
        <a [routerLink]="" (click)="onSearch()" class="btn btn-secondary">Search</a>
        <a [routerLink]="" class="btn btn-tertiary">May the Force be with be</a>
      </div>
    </div>
  </div>
</section>
