<section class="main-section">
  <div class="main-section__search-element text-centered">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Star Wars (Pedia)</span>
      <span class="heading-primary--subtitle"
        >Everything about Star Wars franchise</span
      >
    </h1>
    <div class="main-section__form-element mt-medium">
      <form [formGroup]="formGroup" (submit)="onSearch()">
        <div class="main-section__form-element--main-box">
          <input type="text" formControlName="search" />
          <i class="icon-basic-magnifier" (click)="onSearch()"></i>
        </div>
        <div class="main-section__form-element--buttons-box mt-medium">
          <button type="submit" class="btn btn-secondary">Search</button>
          <button type="button" (click)="onGoToRandomPage()" class="btn btn-tertiary">May the Force be with me!</button>
        </div>
      </form>

      <div class="section-resources mt-big">
        <figure class="section-resources__figure" (click)="onGoToPage('films')">
          <img src="assets/img/films.jpg" alt="Films" class="section-resources__image">
          <figcaption class="section-resources__caption">Films</figcaption>
        </figure>

        <figure class="section-resources__figure" (click)="onGoToPage('people')">
          <img src="assets/img/people.jpg" alt="People" class="section-resources__image">
          <figcaption class="section-resources__caption">People</figcaption>
        </figure>

        <figure class="section-resources__figure" (click)="onGoToPage('planets')">
          <img src="assets/img/planets.jpg" alt="Planets" class="section-resources__image">
          <figcaption class="section-resources__caption">Planets</figcaption>
        </figure>

        <figure class="section-resources__figure" (click)="onGoToPage('species')">
          <img src="assets/img/species.jpg" alt="Species" class="section-resources__image">
          <figcaption class="section-resources__caption">Species</figcaption>
        </figure>

        <figure class="section-resources__figure" (click)="onGoToPage('starships')">
          <img src="assets/img/starships.jpg" alt="Starships" class="section-resources__image">
          <figcaption class="section-resources__caption">Starships</figcaption>
        </figure>

        <figure class="section-resources__figure" (click)="onGoToPage('vehicles')">
          <img src="assets/img/vehicles.jpg" alt="Vehicles" class="section-resources__image">
          <figcaption class="section-resources__caption">Vehicles</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
