<section class="main-section">
  <div class="main-section__search-element text-centered">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Star Wars (Pedia)</span>
      <span class="heading-primary--subtitle"
        >Everything about Star Wars franchise</span
      >
    </h1>
    <div class="main-section__form-element mt-medium">
      <form [formGroup]="formGroup" (submit)="onSearch()">
        <div class="main-section__form-element--main-box">
          <input type="text" formControlName="search" />
          <i class="icon-basic-magnifier" (click)="onSearch()"></i>
        </div>
        <div class="main-section__form-element--buttons-box mt-medium">
          <button type="submit" class="btn btn-secondary">Search</button>
          <button type="button" (click)="onGoToRandomPage()" class="btn btn-tertiary">May the Force be with me!</button>
        </div>
      </form>
    </div>
  </div>
</section>
