.text-centered { text-align: center; }

.m-small { margin: $size-small; }
.mt-small { margin-top: $size-small; }
.mb-small { margin-bottom: $size-small; }
.mr-small { margin-right: $size-small; }
.ml-small { margin-left: $size-small; }

.m-medium { margin: $size-medium; }
.mt-medium { margin-top: $size-medium; }
.mb-medium { margin-bottom: $size-medium; }
.mr-medium { margin-right: $size-medium; }
.ml-medium { margin-left: $size-medium; }

.m-big { margin: $size-big; }
.mt-big { margin-top: $size-big; }
.mb-big { margin-bottom: $size-big; }
.mr-big { margin-right: $size-big; }
.ml-big { margin-left: $size-big; }

.p-small { padding: $size-small; }
.pt-small { padding-top: $size-small; }
.pb-small { padding-bottom: $size-small; }
.pr-small { padding-right: $size-small; }
.pl-small { padding-left: $size-small; }

.p-medium { padding: $size-medium; }
.pt-medium { padding-top: $size-medium; }
.pb-medium { padding-bottom: $size-medium; }
.pr-medium { padding-right: $size-medium; }
.pl-medium { padding-left: $size-medium; }

.p-big { padding: $size-big; }
.pt-big { padding-top: $size-big; }
.pb-big { padding-bottom: $size-big; }
.pr-big { padding-right: $size-big; }
.pl-big { padding-left: $size-big; }
